body {
    font-family: Helvetica, 'Segoe UI', sans-serif;
}

h1 {
    text-align: center;
    font-size: 60px;
    margin-top: 50px;
}

#gamePanel {
    display: flex;
    flex-direction: column;
    margin: 0 10%;
    border-radius: 11px;
    box-shadow: 0 0 8px black;
    
}

#numberInput {
    font-size: 2em;
    text-align: center;
    background-color: rgba(125, 154, 179, 0.591);
    padding: 5px;
    border-radius: 10px 10px 0 0;
    border: none;
    
}

#guessBtn {
    font-size: 2em;
    background-color: rgba(60, 138, 255, 0.692);
    color: white;
    padding: 5px;
    border-radius: 0 0 10px 10px;
    border: none;
    /* box-shadow: 0 0 8px black;; */
    cursor: pointer;
    transition: background-color 0.1s ease;
}

#guessBtn:active {
    background-color: rgb(60, 138, 255);
}

#guessBtn:active {
    background-color: rgb(60, 138, 255);
}

#statusLbl {
    display: block;
    text-align: center;
    margin: 25px 0 50px 0;
    font-weight: bolder;
    transition: 0.33s ease;
}

@keyframes boing {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

#difficultyPanel button {
    font-size: 1em;
    color: white;
    background-color: rgba(60, 138, 255, 0.599);
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 3px black;
    cursor: pointer;
    transition: 0.15s ease;
}

#difficultyPanel button.active {
    background-color: rgb(60, 138, 255);
    box-shadow: none;
}


#difficultyPanel {
    text-align: center;
}

@media screen and (min-width: 570px) {
    #gamePanel {
        display: grid;
        grid-template-columns: 70% 30%;;
        justify-self: center;
    }
    #numberInput {
        
        border-radius: 10px 0 0 10px;
    }
    #guessBtn {
        
        border-radius: 0 10px 10px 0;
    }
}
