body {
    font-family: Helvetica, 'Segoe UI', sans-serif;
}

h1 {
    text-align: center;
    font-size: 60px;
    margin-top: 50px;
}

#gamePanel {
    display: flex;
    flex-direction: column;
    margin: 0 10%;
}

#numberInput {
    font-size: 2em;
    text-align: center;
    border-radius: 10px 10px 0 0 ;
}

#guessBtn {
    font-size: 2em;
    border-radius: 0 0 10px 10px;
}

#statusLbl {
    display: block;
    text-align: center;
    margin: 25px 0 50px 0;
    font-weight: bolder;
    transition: 0.33s ease;
}

@keyframes boing {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

#difficultyPanel button {
    font-size: 1em;
    color: white;
    background-color: rgba(60, 138, 255, 0.599);
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.15s ease;
}

#difficultyPanel button.active {
    background-color: rgb(60, 138, 255);
}


#difficultyPanel {
    text-align: center;
}

@media screen and (min-width: 570px) {
    #gamePanel {
        flex-direction: row;
        justify-content: center;
    }
    #numberInput {
        border-radius: 10px 0 0 10px;
    }
    #guessBtn {
        border-radius: 0 10px 10px 0;
    }
}
